<html>

<head>

  <title>Add a new bookmark</title>

</head>

<body>

  <h1> PLease add your new bookmark below</h1>

  <form action="/links" method="post">

    <p>
      <label for="name">Page Name</label>
      <input type="text" id="name" name="page_name" placeholder="Name" />
    </p>

    <p>
      <label for="tag">Tag</label>
      <input type="text" id="tag" name="page_tag" placeholder="Tag"/>
    </p>

    <p>
      <label for="url">URL</label>
      <input type="text" id="url" name="page_url" placeholder="URL"/>
    </p>

    <p>
      <input type="submit" value="Add" />
    </p>

  </form>

</body>

</html>
