<html>

<head>

  <title>Makers Bookmark Manager</title>

</head>

<body>

  <div class="add_link">
    <form action="/links/new" method="get">
      <input type="submit" value="Add New Link" />
    </form>
  </div>

  <h1> Your saved bookmarks</h1>

  <ul id='links'>
    <% @links.each do |link| %>
      <li>
        Name: <%= link.name %>
        Tag: <%= link.tag %>
        URL: <%= link.url %>
      </li>
    <% end %>
  </ul>

</body>

</html>
